{% extends 'base.html.twig' %}

{% block title %}Form Checkout Pending{% endblock %}

{% block body %}
	<div class="page-center gap-4">
		<div class="w-24 h-24 rounded-full bg-primary-400 text-gray-100 p-4 shadow-lg">
			{{ source('check.svg') }}
		</div>
		<div class="text-center">
			<h1 class="text-2xl font-semibold">{{ 'form_checkout.complete.title'|trans }}</h1>
			<p>{{ 'form_checkout.complete.description'|trans({'%price%': entry.price|number_format(2, ',', ' ') ~ ' €'}) }}</p>
		</div>
		<a class="button-primary flex-center gap-2.5" href="{{ path('app_home') }}">
			<span class="w-5 h-5">{{ source('home.svg') }}</span>
			{{ 'form_checkout.complete.cta'|trans }}
		</a>
	</div>
{% endblock %}
