{% extends 'base.html.twig' %}

{% block title %}{{ "label"|trans({}, "about") }}{% endblock %}

{% block body %}
    <div class="page">
        <twig:Heading title="{{ "label"|trans({}, "about") }}"/>
        <div class="space-y-8 md:space-y-16">
            <div class="grid grid-cols-1 md:grid-cols-7 items-center gap-32">
                <div class="col-span-1 md:col-span-4 md:py-12">
                    <twig:SubHeading title="{{ "founder.title"|trans({}, "about") }}"/>
                    <p>{{ "founder.content"|trans({}, "about")|raw }}</p>
                </div>
                <div class="flex justify-end items-center max-md:hidden col-span-3 xl:pl-16">
                    <img class="rounded lg:aspect-square object-cover object-center"
                         src="{{ asset('images/rolf.jpg') }}" alt="Rolf Zechner">
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8 md:gap-24">
                <div class="flex justify-end items-center">
                    <img class="rounded md:aspect-square xl:aspect-video w-full object-cover object-center"
                         src="{{ asset('images/team.jpg') }}" alt="L'equipe">
                </div>
                <div class="md:py-12">
                    <twig:SubHeading title="{{ "story.title"|trans({}, "about") }}"/>
                    <p>{{ "story.content"|trans({}, "about")|raw }}</p>
                </div>
            </div>
            <div>
                <twig:SubHeading title="{{ "values.title"|trans({}, "about") }}"/>
                <p>{{ "values.content"|trans({}, "about")|raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}
