{% extends 'base.html.twig' %}

{% block title %}{{ "team.label"|trans }}{% endblock %}

{% block body %}
    <div class="page">
        <twig:Heading title="{{ "team.label"|trans }}"/>
        <div class="flex gap-6 md:gap-12 mt-5 flex-wrap">
            {% for player in players %}
                <div class="rounded overflow-hidden">
                    <img class="w-36 md:w-48 aspect-square rounded-full object-cover" src="{{ asset(player.imagePath)|imagine_filter("player") }}" alt="Image du joueur {{ player.name }}">
                    <div class="w-full text-center px-4 py-2">
                        <p class="font-bold">{{ player.name }}</p>
                        <small class="-mt-1"><i>{{ player.role }}</i></small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
