{% extends 'base.html.twig' %}

{% block title %}{{ "home.label"|trans }}{% endblock %}

{% block body %}
    <div class="home">
        <div class="box relative w-screen flex flex-col bg-cover text-background"
             style="background-position: 50% 70%; background-image: url('{{ asset('images/home.jpg') }}')">
            <span class="absolute top-0 left-0 bg-black bg-opacity-50 w-screen h-full z-0"></span>
            <div class="z-10 py-20">
                <h1 class="text-5xl md:text-7xl font-bold mb-4">{{ "home.headline"|trans|raw }}</h1>
                <a class="button-secondary shadow" href="{{ path('app_discover') }}">
                    {{ "discover.label"|trans }}
                </a>
            </div>
            <small class="absolute bottom-0 right-0 text-background z-10 mb-1 mr-5">
                Photo
                <a target="_blank" class="underline" href="https://www.transit-photo.com/photographes/david-richard/">
                    David Richard
                </a>
            </small>
        </div>

        <div class="box bg-background-darker">
            <p class="text-foreground-light text-justify font-medium text-lg">
                {{ "home.description"|trans|raw }}
            </p>
        </div>

        <div class="box space-y-8">
            <twig:SubHeading title="{{ "activities.label"|trans }}" />
            <twig:Activities />
        </div>

	    <div class="mb-14 marquee">
            <div>
                {% for partner in partners %}
                    <a href="{{ partner.link }}" target="_blank">
                        <img class="{{ partner.round ? "circle" }}" alt="{{ partner.name }}"
                             src="{{ asset(partner.imagePath)|imagine_filter("partner") }}"/>
                    </a>
                {% endfor %}
            </div>
            <div>
                {% for partner in partners %}
                    <a href="{{ partner.link }}"  target="_blank">
                        <img class="{{ partner.round ? "circle" }}" alt="{{ partner.name }}"
                             src="{{ asset(partner.imagePath)|imagine_filter("partner") }}"/>
                    </a>
                {% endfor %}
            </div>
        </div>

	    <div class="flex-center bg-background-dark px-4">
		    <form class="flex-center flex-col gap-10 w-full md:w-2/3 bg-background p-10"
		          action="{{ path('app_newsletter_subscribe') }}" method="post">
			    <p class="text-2xl font-bold">{{ 'newsletter.subscribe'|trans }}</p>
			    <label class="block flex-center">
				    <input type="text" placeholder="{{ 'input.email'|trans }}" name="email"
				           class="md:w-96 py-2.5 px-5 bg-background-dark rounded-l focus-visible:outline-none focus:ring-2 focus:ring-primary">
				    <button class="button-primary rounded-l-none rounded-r">{{ 'form.subscribe'|trans }}</button>
			    </label>
		    </form>
	    </div>
    </div>
{% endblock %}
