{% extends 'base.html.twig' %}

{% block title %}{{ "label"|trans({}, "legal") }}{% endblock %}

{% block body %}
<div class="page">
    <twig:Heading title="{{ "label"|trans({}, "legal") }}" />
    <div class="space-y-6">
        <p>{{ "effective"|trans({}, "legal") }}</p>
        <p>{{ "intro"|trans({}, "legal")|raw }}</p>

        {% for i in 1..4 %}
            <twig:SubHeading size="1" title="{{ ("article_" ~ i ~ ".label")|trans({}, "legal")|raw }}" />
            <p>{{ ("article_" ~ i ~ ".content")|trans({}, "legal")|raw }}</p>
        {% endfor %}

        <p>{{ "credit"|trans({}, "legal")|raw }}</p>
    </div>
</div>
{% endblock %}
