{% extends 'base.html.twig' %}

{% block title %}{{ "label"|trans({}, "support") }}{% endblock %}

{% block body %}
	<div class="page">
		<twig:Heading title="{{ "label"|trans({}, "support") }}"/>
		<div class="space-y-6">
			<p class="text-lg font-bold">{{ "intro"|trans({}, "support")|raw }}</p>
			<div class="w-full flex gap-12 max-lg:flex-col">
				<div class="w-full h-fit p-12 rounded-lg bg-gray-100">
					<twig:SubHeading title="{{ "volunteering.label"|trans({}, "support") }}" size="2"/>
					<div class="space-y-2">
						<p>{{ "volunteering.content"|trans({}, "support")|raw }}</p>
						<ul class="list-disc ml-5">
							{{ "volunteering.tasks"|trans({}, "support")|raw }}
						</ul>
					</div>
					<div class="pt-5 space-y-2">
						<p>{{ "volunteering.pre_cta_text"|trans({}, "support") }}</p>
						<a class="block w-fit button-primary" href="{{ path('app_contact') }}">
							{{ "contact.label"|trans }}
						</a>
					</div>
				</div>
				<div class="w-full h-fit p-12 rounded-lg bg-gray-100">
					<twig:SubHeading title="{{ "partner.label"|trans({}, "support") }}" size="2"/>
					<div class="space-y-8">
						<div class="space-y-2">
							<twig:SubHeading title="{{ "partner.donation.label"|trans({}, "support") }}" size="1"/>
							<p>{{ "partner.donation.description"|trans({}, "support") }}</p>
							<p>{{ "partner.donation.skills"|trans({}, "support")|raw }}</p>
						</div>
						<div class="space-y-2">
							<twig:SubHeading title="{{ "partner.sponsor.label"|trans({}, "support") }}" size="1"/>
							<p>{{ "partner.sponsor.description"|trans({}, "support") }}</p>
							<ul class="list-disc ml-5">
								{{ "partner.sponsor.ad_places"|trans({}, "support")|raw }}
							</ul>
						</div>
					</div>
					<div class="pt-5 space-y-2">
						<p>{{ "partner.pre_cta_text"|trans({}, "support") }}</p>
						<a class="block w-fit button-primary" href="{{ path('app_contact') }}">{{ "contact.label"|trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
