{% extends 'base.html.twig' %}

{% block title %}Activité {{ activity.name }}{% endblock %}

{% block body %}
    <div class="page">
        <a href="{{ path('app_activity') }}" class="block flex-start gap-2 -mt-5 mb-8">
            <span class="block h-4 w-4">
                {{ source('arrow-left.svg') }}
            </span>
            Retour aux Activités
        </a>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-24">
            <div class="max-md:space-y-3">
                <twig:SubHeading size="3" title="{{ activity.name }}" />
                <img class="w-full rounded md:hidden" src="{{ asset(activity.imagePath)|imagine_filter("full") }}" alt="{{ activity.name }}">
                <div class="post-content">
                    {{ activity.content|raw }}
                </div>
            </div>
            <img class="w-full rounded max-md:hidden" src="{{ asset(activity.imagePath)|imagine_filter("full") }}" alt="{{ activity.name }}" zoomable>
        </div>
    </div>
{% endblock %}
