{% extends 'base.html.twig' %}

{% block title %}{{ post.title(app.locale) }}{% endblock %}

{% block body %}
    <div class="box flex-center">
        <div class="w-full md:w-4/5 lg:w-2/3">
            <div class="my-14 flex-center">
                <div class="w-full lg:w-2/3 text-center space-y-2">
                    <small class="block text-foreground-light">{{ post.createdAt|date("d/m/Y") }}</small>
                    <h1 class="text-3xl sm:text-5xl xl:text-6xl font-bold break-words">{{ post.title(app.locale) }}</h1>
                </div>
            </div>
            <img zoomable class="rounded w-full aspect-video object-cover object-top" src="{{ asset(post.imagePath)|imagine_filter("full") }}" alt="">
            <div class="post-content my-8">
                {{ post.content(app.locale)|raw }}
            </div>
        </div>
    </div>
{% endblock %}
