{% extends 'base.html.twig' %}

{% block title %}{{ "contact.label"|trans }}{% endblock %}

{% block body %}
	{{ form_start(form) }}
	<div class="box flex-center flex-col md:w-2/3 mx-auto mt-12">
		<h1 class="text-4xl font-bold mb-5">{{ "contact.label"|trans }}</h1>

		<div class="grid grid-cols-1 md:grid-cols-2 w-full gap-8">
			{{ form_row(form.name, {label: "contact.input.name"|trans, row_attr: {class: 'form-row mb-5'}}) }}
			{{ form_row(form.email, {label: "contact.input.email"|trans, row_attr: {class: 'form-row mb-5'}}) }}
		</div>
		{{ form_row(form.content, {label: "contact.input.content"|trans, row_attr: {class: 'form-row mb-5'}}) }}
		{{ form_row(form.attachments, {label: "contact.input.attachments"|trans, row_attr: {class: 'form-row mb-5'}}) }}

		<button class="button-primary self-start" type="submit">
			{{ "contact.submit"|trans }}
		</button>

	</div>
	{{ form_end(form) }}
{% endblock %}
