<div{{ attributes }}>
    <div class="box bg-background-dark flex-between max-md:flex-col gap-5 py-8">
        <a class="flex-center max-md:flex-col gap-3" href="{{ path('app_home') }}">
            <img src="{{ asset('logo.png') }}" class="h-14 -mt-0.5" alt="Logo">
            <p class="font-bold text-2xl">Nîmes Cricket Club</p>
        </a>
        <div class="flex-center max-md:flex-col gap-5 md:gap-8">
            <div class="flex gap-1">
                <a class="p-2.5" target="_blank" href="https://www.helloasso.com/associations/nimescricketclub">
                    <span class="block h-6 w-6">{{ source('helloasso.svg') }}</span>
                </a>
                <a class="p-2.5" target="_blank" href="https://www.facebook.com/nimescricketclub/">
                    <span class="block h-6 w-6">{{ source('facebook.svg') }}</span>
                </a>
                <a class="p-2.5" target="_blank" href="https://www.instagram.com/nimescricketclub/">
                    <span class="block h-6 w-6">{{ source('instagram.svg') }}</span>
                </a>
            </div>
            <a class="text-sm underline" href="{{ path('app_legal') }}">
                Mentions Légales
            </a>
        </div>
    </div>
</div>
