{% set links = {
    "app_home": "Accueil",
    "app_news": "Actus",
    "app_player": "L'Equipe",
    "app_activity": "Nos Activités",
    "app_about": "A Propos",
    "app_contact": "Nous Contacter"
} %}

<div {{ attributes }}>
    <div class="h-20 w-screen"></div>
    <div class="box fixed top-0 left-0 w-screen h-20 py-2 shadow-lg bg-background flex-between z-[39] navbar">
        <div class="lg:order-2 z-10">
            <button type="button" class="lg:hidden menu-open h-12 w-12">
                <span class="block h-5 w-5">
                    {{ source('bars.svg') }}
                </span>
            </button>
            <div class="left-0 top-0 fixed w-screen h-screen bg-black bg-opacity-50 hidden lg:hidden menu-close"></div>
            <div class="left-0 top-0 fixed lg:static h-screen w-60 lg:w-auto lg:h-auto bg-background flex-start py-5 px-8 lg:p-0 gap-1 flex-col lg:flex-row menu -translate-x-full lg:translate-x-0 transition-transform">
                <div class="lg:hidden w-full px-6">
                    <img src="{{ asset('logo-large.jpg') }}" alt="Logo du NCC"
                         class="w-full lg:order-1 pb-5 mb-2 border-b border-foreground-extralight">
                </div>

                {% for route, name in links %}
                    {% set active = app.request.attributes.get('_route') starts with route %}
                    <a href="{{ path(route) }}"
                       class="{{ active ? "bg-background-darker text-foreground font-semibold" : "hover:bg-background-dark text-foreground-light font-medium" }} hover:text-foreground rounded px-3 py-2 w-full lg:w-auto shrink-0">
                        {{ name }}
                    </a>
                {% endfor %}
                <button class="button-primary w-full lg:hidden modal-toggle" data-for="join-us-modal">Nous Rejoindre</button>
                {% if is_granted("ROLE_ADMIN") %}
                    <a class="button-gray w-full lg:hidden" href="{{ path('app_admin') }}">Admin</a>
                {% endif %}
            </div>
        </div>
        <a class="left-0 absolute w-full flex-center gap-3 lg:static lg:w-auto z-0" href="{{ path('app_home') }}">
            <img src="{{ asset('logo.png') }}" alt="Logo du NCC" class="h-12 xl:h-14 -mt-1">
            <p class="font-bold text-xl 2xl:text-2xl max-xl:hidden">Nîmes Cricket Club</p>
        </a>
        <div class="order-3 hidden lg:block">
            <div class="flex-center gap-2">
                <button class="button-primary modal-toggle" data-for="join-us-modal">Nous Rejoindre</button>
                {% if is_granted("ROLE_ADMIN") %}
                    <a class="button-gray button-icon" href="{{ path('app_admin') }}">
                        <span class="block h-5 w-5">
                            {{ source('gear.svg') }}
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal bg-background p-12 rounded space-y-12" id="join-us-modal">
        <p class="font-extrabold text-center text-3xl">Nous Rejoindre</p>
        <div class="flex max-sm:flex-col gap-12">
            <a class="group flex items-center flex-col gap-3 cursor-pointer"
               href="https://www.helloasso.com/associations/nimescricketclub" target="_blank">
                <span class="h-24 w-24 rounded-full shadow-xl">
                    {{ source('ball.svg') }}
                </span>
                <span class="group-hover:underline text-lg font-bold">Jouer au Cricket</span>
            </a>
            <a class="group flex items-center flex-col gap-3 cursor-pointer" href="{{ path('app_support') }}">
                <span class="h-24 w-24">
                    {{ source('user-group.svg') }}
                </span>
                <span class="group-hover:underline text-lg font-bold text-center">
                    Accompagner le Projet
                    <br>
                    Devenir Partenaire
                </span>
            </a>
        </div>
    </div>
</div>
